<div class="totals-container">
  <div class="total-income"></div>
  <div class="total-expenses"></div>
  <div class="percentage-text"></div>
</div>
<div class="transaction-history">
  <div class="transaction-item transaction-income">
    <span class="transaction-description">Salary</span>
    <span class="transaction-amount">$5000</span>
  </div>
  <div class="transaction-item transaction-expense">
    <span class="transaction-description">Rent</span>
    <span class="transaction-amount">-$1500</span>
  </div>
</div>
